
@{
    ViewData["Title"] = "ACT_AccidentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;

<h1>ACT_AccidentList</h1>

<!--div:begin -- table Content-->
<div class="row">
    <!--div:begin -- table Name-->
    <div class="col-md-10">
        <h4>Accident List</h4>
    </div>
    <!--div:End -- table Name-->
    <!--div:begin -- Add button-->
    <div class="col-md-2">
        <a class="btn btn-lg btn-warning pull-right">Add+</a>
    </div>
    <!--div:End -- Add button-->
</div>
<!--div:End -- table Content-->
<!--Begin:table Start -->
<table class="table table-striped table-hover " id="sample_1">
    <!-- begin:thead Start-->
    <thead>
        <!--begin:tr Start-->
        <tr>
            @*<th>@dr["AccidentID"]</th>*@
            <th>AccidentDateTime</th>
            <th>AccidentDescription</th>
            <th>CauseOfAccident</th>
            <th>NumberOfCausalties</th>
            <th>RoadID</th>
            <th>HospitalID</th>
            <th>VehicalID</th>
            <th>CreationDate</th>
            <th>ModificationDate</th>
        </tr>
        <!--End:tr start -->
    </thead>
    <!-- End:thead Start-->

    <tbody id="sample_1">
        @foreach (DataRow dr in Model.Rows)
        {
        <tr>
                @*<td>@dr["AccidentID"]</td>*@
                <td>@dr["AccidentDateTime"]</td>
                <td>@dr["AccidentDescription"]</td>
                <td>@dr["CauseOfAccident"]</td>
                <td>@dr["NumberOfCausalties"]</td>
                <td>@dr["RoadType"]</td>
                <td>@dr["HospitalName"]</td>
                <td>@dr["VehicalName"]</td>
                <td>@dr["CreationDate"]</td>
                <td>@dr["ModificationDate"]</td>
        </tr>
        }
    </tbody>
</table>
<!--End:table Start -->


