@{
    ViewData["Title"] = "LOC_StateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin:20px;">
    <div class="card-body">
        <h5 class="card-title">LOC_State</h5>
        <div class="table-responsive">
            <table class="table table-striped table-hover " id="sample_1">
                <thead>
                    <tr>
                        <th>Country Name</th>
                            <th>State Name</th>
                            <th>State Code</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (DataRow dr in Model.Rows)
                        {
                        <td>@dr["CountryName"]</td>
                                @*<td>@dr["StateID"]</td>*@
                                <td>@dr["StateName"]</td>
                                <td>@dr["StateCode"]</td>
                                <td>@dr["CreationDate"]</td>
                                <td>@dr["ModificationDate"]</td>
                        }
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

